<?xml version="1.0"?>
<launch>

  <!-- Robot state publisher -->
  <!--<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="/" />
    <remap from="/joint_states" to="/teo/joint_states"/>
  </node>-->

  <!-- Gazebo state publisher -->
  <node pkg="gazebo_state_pub" type="joint_state_pub" name="joint_state_pub">
    <param name="target_model" type="string" value="cartpole" />
  </node>

  <rosparam file="$(find cartpole_gazebo)/config/cart_pole_controller.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/" args="cart_pole_controller joint_state_controller"/>

  <node pkg="tf_broadcaster" type="tf_broadcaster2" name="tf_broadcaster2"/>

  <!--<node pkg="tf" type="static_transform_publisher" name="joint1_broadcaster" args="0 0 1 0 0 0 1 /world /cart 100" />-->

  <!--<node pkg="tf" type="static_transform_publisher" name="joint2_broadcaster" args="0 0 1 0 0 0 1 /world /pole 100" />-->

</launch>
