<launch>
	<include file="$(find utility)../../launch/catvehicle_skidpan.launch"/>
	<node name="gzclient" pkg="gazebo_ros" type="gzclient" output="screen"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find utility)/config/catvehicle_startup.rviz" output="screen"/>
	<node name="gazebo_state_pub" pkg="gazebo_state_pub" type="gazebo_state_pub" output="screen"/>
	<node name="hoffmann_controller" pkg="hoffmann_controller" type="hoffmann_controller" output="screen"/>
	<node name="speed_designer" pkg="speed_designer" type="speed_designer" output="screen"/>
	<node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" args="/catvehicle/des_speed" output="screen"/>
</launch>