<launch>
	<include file="$(find utility)/launch/single_catvehicle_skidpan.launch"/>

    <!-- Display -->
	<!--<node name="gzclient" pkg="gazebo_ros" type="gzclient" output="screen"/>-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find utility)../../../config/path_following_visualization.rviz" output="screen"/>

    <!-- Continuously publish the vehicle's pose and odom -->
	<node name="gazebo_state_pub" pkg="gazebo_state_pub" type="gazebo_state_pub" output="screen">
		<param name="target_model" value="catvehicle"/>
	</node>

	<node name="hoffmann_controller" pkg="hoffmann_controller" type="hoffmann_controller" output="screen"/>

    <!-- A des_velocity_pub playing a role of speed controller -->
	<node name="des_velocity_pub" pkg="des_velocity_pub" type="des_velocity_pub" output="screen"/>
	<node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" args="/catvehicle/des_speed" output="screen"/>

    <!-- Waypoint follower -->
    <arg name="linear_interpolate_mode" default="True"/>
	<!-- rosrun waypoint_follower pure_pursuit -->
	<!--<node pkg="waypoint_follower" type="pure_pursuit" name="pure_pursuit" output="log">
		<param name="linear_interpolate_mode" value="$(arg linear_interpolate_mode)"/>
		<remap from="current_velocity" to="/catvehicle/cmd_vel" />
	</node>-->

    <!-- Waypoint loader playing a role as global path planner -->
    <node pkg="path_loader" type="path_loader.py" name="path_loader">
        <param name="path" value="$(find path_loader)../../../data/standard_track_map.csv" />
        <param name="frame_id" value="/catvehicle/odom" />
        <remap from="current_pose" to="/catvehicle/current_pose" />
    </node>

    <node pkg="path_updater" type="path_updater.py" name="path_updater" output="screen">
    	<remap from="current_pose" to="/catvehicle/current_pose" />
    </node>
</launch>