<launch>
	<include file="$(find catvehicle)/launch/catvehicle_skidpan.launch"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find utility)/config/catvehicle_startup.rviz" output="screen"/>
	<node name="gazebo_state_pub" pkg="gazebo_state_pub" type="gazebo_state_pub" output="screen"/>
	<node name="mobot_nl_steering" pkg="mobot_nl_steering" type="mobot_nl_steering" output="screen"/>
	<node name="mobot_pub_des_state" pkg="mobot_pub_des_state" type="mobot_pub_des_state" output="screen"/>
	<node name="pub_des_state_path_client" pkg="mobot_pub_des_state" type="pub_des_state_path_client" output="screen"/>>
</launch>