<?xml version="1.0"?>

<launch>
  
  <include file="$(find dbw_utils)/launch/dbw_mkz_gazebo.launch" >
    <arg name="use_camera_control" value="true" />
    <arg name="world_name" value="$(find dbw_mkz_gazebo)/worlds/empty_world.world" />
    <arg name="sim_param_file" value="$(find dbw_utils)/yaml/two_vehicle.yaml" />
  </include>


  <!-- Waypoint loader playing a role as global path planner -->
  <node pkg="path_loader" type="path_loader.py" name="path_loader">
    <param name="fpath" value="$(find path_loader)../../../data/standard_track_map.csv" />
    <param name="frame_id" value="/world" />
  </node>


  <!-- Fusion1 -->
  <include file="$(find dbw_mkz_can)/launch/dbw.launch" >
    <arg name="live" value="false" />
    <arg name="load_urdf" value="false" />
    <arg name="can_ns" value="can_bus_dbw" />
    <arg name="vehicle_ns" value="fusion1" />
  </include>

  <!-- Fusion2 -->
  <include file="$(find dbw_mkz_can)/launch/dbw.launch" >
    <arg name="live" value="false" />
    <arg name="load_urdf" value="false" />
    <arg name="can_ns" value="can_bus_dbw" />
    <arg name="vehicle_ns" value="fusion2" />
  </include>


  <!-- Continuously publish the vehicle's pose and odom -->
  <node name="fusion1_state_pub" pkg="gazebo_state_pub" type="gazebo_state_pub" output="screen">
    <param name="target_model" value="fusion1"/>
  </node>
  <!-- Path planning -->
  <node name="fusion1_path_updater" pkg="path_updater" type="path_updater.py">
    <param name="lane_index" value="0"/>
    <param name="cruise_speed" value="12"/>
    <remap from="current_pose" to="/fusion1/current_pose" />
    <remap from="final_path" to="/fusion1/final_path" />
    <remap from="final_waypoints" to="/fusion1/final_waypoints" />
    <remap from="final_path_points" to="/fusion1/final_path_points" />
  </node>
  <node name="fusion1_waypoint_follower" pkg="waypoint_follower" type="pure_pursuit" output="log">
    <param name="linear_interpolate_mode" value="True"/>
    <remap from="current_pose" to="/fusion1/current_pose" />
    <remap from="final_waypoints" to="/fusion1/final_waypoints" />
    <remap from="current_velocity" to="/fusion1/twist" />
    <remap from="cmd_vel" to="/fusion1/cmd_vel" />
  </node>

  <!-- Continuously publish the vehicle's pose and odom -->
  <node name="fusion2_state_pub" pkg="gazebo_state_pub" type="gazebo_state_pub" output="screen">
    <param name="target_model" value="fusion2"/>
  </node>
  <!-- Path planning -->
  <node name="fusion2_path_updater" pkg="path_updater" type="path_updater.py">
    <param name="lane_index" value="2"/>
    <param name="cruise_speed" value="8"/>
    <remap from="current_pose" to="/fusion2/current_pose" />
    <remap from="final_path" to="/fusion2/final_path" />
    <remap from="final_waypoints" to="/fusion2/final_waypoints" />
    <remap from="final_path_points" to="/fusion2/final_path_points" />
  </node>
  <node name="fusion2_waypoint_follower" pkg="waypoint_follower" type="pure_pursuit" output="log">
    <param name="linear_interpolate_mode" value="True"/>
    <remap from="current_pose" to="/fusion2/current_pose" />
    <remap from="final_waypoints" to="/fusion2/final_waypoints" />
    <remap from="current_velocity" to="/fusion2/twist" />
    <remap from="cmd_vel" to="/fusion2/cmd_vel" />
  </node>

  <!-- Display -->
  <!--<node name="gzclient" pkg="gazebo_ros" type="gzclient" output="screen"/>-->
  <node pkg="rviz" type="rviz" name="multi_vehicle_rviz" args="-d $(find utility)../../../config/two_vehicle_path_following_visualization.rviz" respawn="true" />

</launch>