<launch>
	<include file="$(find utility)/launch/two_catvehicles_skidpan.launch"/>
	<node name="gzclient" pkg="gazebo_ros" type="gzclient" output="screen"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find utility)/config/two_catvehicles_startup.rviz" output="screen"/>
	<!--<node name="gazebo_state_pub" pkg="gazebo_state_pub" type="gazebo_state_pub" output="screen"/>-->

	<!-- Catvehicle 1 -->
	<node name="hoffmann_controller1" pkg="hoffmann_controller" type="hoffmann_controller" output="screen">
		<remap from="/catvehicle/odom" to="/catvehicle1/odom"/>
		<remap from="/catvehicle/cmd_vel" to="/catvehicle1/cmd_vel"/>
		<remap from="/catvehicle/des_speed" to="/catvehicle1/des_speed"/>
	</node>
	<node name="speed_designer" pkg="speed_designer" type="speed_designer" output="screen">
		<remap from="/catvehicle/des_speed" to="/catvehicle1/des_speed"/>
	</node>

	<!-- Catvehicle 2 -->
	<node name="hoffmann_controller2" pkg="hoffmann_controller" type="hoffmann_controller" output="screen">
		<remap from="/catvehicle/odom" to="/catvehicle2/odom"/>
		<remap from="/catvehicle/cmd_vel" to="/catvehicle2/cmd_vel"/>
		<remap from="/catvehicle/des_speed" to="/catvehicle2/des_speed"/>
	</node>
	<!--<node name="adaptive_cruise" pkg="adaptive_cruise" type="adaptive_cruise" output="screen">
		<remap from="/catvehicle/distanceEstimator/dist" to="/catvehicle2/distanceEstimator/dist"/>
		<remap from="/catvehicle/cmd_vel" to="/catvehicle2/cmd_vel"/>
		<remap from="/catvehicle/des_speed" to="/catvehicle2/des_speed"/>
	</node>-->

	<!-- rqt plot-->
	<node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" args="/catvehicle1/des_speed, /catvehicle1/cmd_vel/linear/x, /catvehicle2/cmd_vel/linear/x" output="screen"/>
</launch>