<?xml version="1.0"?>

<launch>

  <!-- Continuously publish the vehicle's pose and odom -->
  <node name="ego_state_pub" pkg="gazebo_state_pub" type="gazebo_state_pub" output="log">
    <param name="target_model" value="ego"/>
  </node>
  <!-- Path planning -->
  <node name="ego_path_updater" pkg="path_updater" type="path_updater.py" output="log">
    <param name="lane_index" value="1"/>
    <param name="cruise_speed" value="10"/>
    <remap from="current_pose" to="/ego/current_pose" />
    <remap from="final_path" to="/ego/final_path" />
    <remap from="final_waypoints" to="/ego/final_waypoints" />
    <remap from="final_path_points" to="/ego/final_path_points" />
    <remap from="cruise_speed" to="/ego/cruise_speed" />
    <remap from="change_lane" to="/ego/change_lane" />
  </node>
  <node name="ego_waypoint_follower" pkg="waypoint_follower" type="pure_pursuit" output="log">
    <param name="linear_interpolate_mode" value="True"/>
    <remap from="current_pose" to="/ego/current_pose" />
    <remap from="final_waypoints" to="/ego/final_waypoints" />
    <remap from="current_velocity" to="/ego/twist" />
    <remap from="cmd_vel" to="/ego/cmd_vel" />
  </node>

  <!-- Continuously publish the vehicle's pose and odom -->
  <node name="mondeo_state_pub" pkg="gazebo_state_pub" type="gazebo_state_pub" output="log">
    <param name="target_model" value="mondeo"/>
  </node>
  <!-- Path planning -->
  <node name="mondeo_path_updater" pkg="path_updater" type="path_updater.py">
    <param name="lane_index" value="1"/>
    <param name="cruise_speed" value="10"/>
    <remap from="current_pose" to="/mondeo/current_pose" />
    <remap from="final_path" to="/mondeo/final_path" />
    <remap from="final_waypoints" to="/mondeo/final_waypoints" />
    <remap from="cruise_speed" to="/mondeo/cruise_speed" />
    <remap from="final_path_points" to="/mondeo/final_path_points" />
  </node>
  <node name="mondeo_waypoint_follower" pkg="waypoint_follower" type="pure_pursuit" output="log">
    <param name="linear_interpolate_mode" value="True"/>
    <remap from="current_pose" to="/mondeo/current_pose" />
    <remap from="final_waypoints" to="/mondeo/final_waypoints" />
    <remap from="current_velocity" to="/mondeo/twist" />
    <remap from="cmd_vel" to="/mondeo/cmd_vel" />
  </node>

</launch>