<launch>
	<include file="$(find source_control)/launch/twin_catvehicle_skidpan.launch"/>
	<node name="gzclient" pkg="gazebo_ros" type="gzclient" output="screen"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find source_control)/config/twin_catvehicle_startup.rviz" output="screen"/>
	<!--<node name="mobot_gazebo_state" pkg="mobot_gazebo_state" type="mobot_gazebo_state" output="screen"/>-->

	<!-- Catvehicle 1 -->
	<node name="hoffmann_controller1" pkg="hoffmann_controller" type="hoffmann_controller" output="screen">
		<remap from="/catvehicle/odom" to="/catvehicle1/odom"/>
		<remap from="/catvehicle/cmd_vel" to="/catvehicle1/cmd_vel"/>
	</node>

	<!-- Catvehicle 2 -->
	<node name="hoffmann_controller2" pkg="hoffmann_controller" type="hoffmann_controller" output="screen">
		<remap from="/catvehicle/odom" to="/catvehicle2/odom"/>
		<remap from="/catvehicle/cmd_vel" to="/catvehicle2/cmd_vel"/>
	</node>
</launch>