<?xml version="1.0"?>

<launch>
  
  <include file="$(find dbw_mkz_gazebo)/launch/dbw_mkz_gazebo.launch" >
    <arg name="use_camera_control" value="true" />
    <arg name="world_name" value="$(find dbw_mkz_gazebo)/worlds/box_world.world" />
    <arg name="sim_param_file" value="$(find dbw_mkz_gazebo)/yaml/default_sim_params.yaml" />
  </include>
  
  <!-- Joystick demo -->
  <arg name="enable" default="false"/>
  <node ns="vehicle" pkg="dbw_mkz_joystick_demo" type="joystick_demo" name="joystick_demo" output="screen" >
    <param name="enable" value="$(arg enable)" />
  </node>

  <!-- Joystick driver -->
  <node pkg="joy" type="joy_node" name="joy_node" output="screen" >
    <param name="deadzone" value="0.01" />
  </node>
  
  <include file="$(find dbw_mkz_can)/launch/dbw.launch" >
    <arg name="live" value="false" />
    <arg name="load_urdf" value="false" />
    <arg name="can_ns" value="can_bus_dbw" />
  </include>
  
</launch>